

{% block medium_text_editor_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' editable'}) %}
    <div contenteditable="true" class="editable" data-mediumeditor-linked-textarea-id="{{ id }}">{{ value }}</div>
    <textarea {{ block('widget_attributes') }} style="display: none">{{ value }}</textarea>
{% endblock medium_text_editor_widget %}